body {
  height: 96vh;
}

main {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  margin: auto;
  text-align: center;
  background-size: contain;
  background: url('../imgs/hot.jpg');
}

.content {
  grid-row-start: 2;
}

#location {

}

.info {

}

#picto {

}

#temperature {
  cursor: pointer;
}